// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-cream: #FAFFFD;
$color-mud: #f4d35e;
$color-royal: #3c73ff;
$color-green: #2ecc71;
$color-turqoise: #CCE1EA;
$color-light-violet: #99bdff;
$gradient-pink: linear-gradient(146deg,rgba(255,74,158,0) 55%,rgba(255,74,158,.4) 100%);
$gradient-blue: linear-gradient(200deg,rgba(255,74,158,0) 45%,rgba(40, 13, 194, 0.068) 100%);

$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-20: 20px;
