// Variables
// *------------------------------------------------*
$color-white: #fff;
$color-black: #000;
$color-cream: #fafffd;
$color-mud: #f4d35e;
$color-royal: #3c73ff;
$color-green: #2ecc71;
$color-turquoise: #cce1ea;
$color-light-violet: #99bdff;
$gradient-pink: linear-gradient(
  146deg,
  rgb(255, 74, 158, 0) 55%,
  rgb(255, 74, 158, 0.4) 100%
);
$gradient-blue: linear-gradient(
  200deg,
  rgb(255, 74, 158, 0) 45%,
  rgb(40, 13, 194, 0.068) 100%
);
$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-20: 20px;
