@import 'variables';

// Container
// *------------------------------------------------*
#main-outlet {
  margin-top: 30px;
  margin-bottom: 30px;
  background: $color-cream;
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.15), 0 12px 90px 0 rgba(103,151,255,.15);
  border-radius: $radius-20;
}

// Navigation Bar
// *------------------------------------------------*
.nav-pills li a {  
  &.active {
    color: $color-black;
  }
  &:hover {
    background-color: $tertiary;
    color: $color-white;
  }
}

.list-controls .navigation-container {
  margin: 0.8em 9px 1px;
}